:root {
    --family-font: 'Tangerine', cursive;
    --subtitel-font: 'Playfair Display SC', serif;
    --background-theme: #202020;
}

body {
    background-color: var(--background-theme);
}

h1,
h2,
h3,
h4 {
    font-family: var(--family-font);
    font-weight: bold;

}

h1 {
    font-family: var(--family-font);
    font-size: 92px;
    margin: auto;
    line-height: 90px;
}

.hero {
    background-color: var(--background-theme);
    text-align: center;
    color: aliceblue;
    padding: 150px 30px;
}

.hero p {
    font-family: var(--subtitel-font);
    font-size: 24px;
    margin: auto;

}

.hero h2 {
    font-family: var(--subtitel-font);
    font-weight: normal;
    font-size: 18px;

}

.about-section-info {
    margin: 30px;
}



.about-section h1 {
    font-family: var(--family-font);
    font-size: 94px;
    color: aliceblue;
    text-align: center;
    line-height: 80px;
}

.about-section h2 {
    font-family: var(--subtitel-font);
    font-size: 18px;
    color: aliceblue;
    text-align: center;
}

.about-section p {
    font-family: var(--subtitel-font);
    font-size: 16px;
    color: #ffff;
    text-align: center;
}

.about-section a {
    display: flex;
    justify-content: center;
}

.btn-brand {
    background-color: #272142;
    color: #ffff;
    border-radius: 50px;
    font-size: 14px;
    line-height: 27px;
    padding: 10px 30px;
}

.img-fluid {
    box-shadow: 4px;
    height: 75%;
    margin-bottom: auto;
    padding-bottom: 0%;
}

@media (max-width:375px) {
    .hero {
        margin-bottom: auto;
        padding: 75px 15px;
    }

    .img-fluid {
        box-shadow: 4px;
        height: auto;
        margin-top: 20px;
    }
}